# MOST URGENT
secrets.yaml
esphome/secrets.yaml
esphome/.gitignore

# HIDDEN FILES
.bashrc
.bash_history
.gitconfig
.DS_Store
.ip_authenticated.yaml
.shopping_list.json
.homeassistant

# FILES
core
google_assistant.json
ip_bans.yaml
icloud3-event-log.log
known_devices.yaml
home-assistant_*
icloud3.log.*

# WILDCARD FILES
home-assistant.log*
storage.*

# EXTENSIONS
*.conf
*.csr
*.crt
*.db
*.jpg
*.key
*.log
*.pyc
*.pem
*.sqlite
*.sh 
*.txt
*.xml

# HIDDEN FOLDERS
.cache/
.cloud/
.config/
.dbus/
.git/
.gnupg/
.local/
.storage/
.ssh/
.vscode/


# FOLDERS
ESPSomfyRTS_8BE5C4/
Backup/
addons_config/
archive_backup/
blueprints/
automations/test/
custom_components/
custom-cont-init.d/
custom-services.d/
data/
deps/
esphome/.esphome/
extensions/
glances/
image/
not_in_use_anymore/
old/
other/
ozw_config/
ssh/
tts/
workspace/
www/
image/
ssh_keys/
