# Exclusions via Blueprint Studio


# Exclusions via Blueprint Studio
watchman_report.txt


# Exclusions via Blueprint Studio


# Exclusions via Blueprint Studio





automations/backup_master/

.bash_history
.bashrc
.cache/
.cloud/
.config/
.dbus/
.gnupg/
.ha_run.lock
.ios.conf
.local/
.shopping_list.json
.ssh/
.storage/
.vscode/
ESPSomfyRTS_8BE5C4/
addons_config/
automations/backup/
backup_master/
blueprints/
core
custom-cont-init.d/
custom-services.d/
custom_components/
data/
deps/
extensions/
glances/
google_assistant.json
harmony_9866324.conf
home-assistant.log.1
home-assistant.log.fault
home-assistant.log.old
icloud3.log
icloud3.log-1.log
icloud3.log-2.log
image/
ip_bans.yaml
nest/
not_in_use_anymore/
options.xml
python_scripts/
secrets.yaml
shell/
ssh/
ssh_keys/
storage.db
storage.db-wal
themes/
tts/
workspace/
www/
