core
alexa_mediainfo@oudenes.photographyget.html
alexa_mediainfo@oudenes.photographypost.html
google_assistant.json
home-assistant_v2.db
home-assistant.log
icloud3-event-log.log
alexa_media.info@oudenes.photography.pickle
secrets.yaml
ip_bans.yaml
google_calendars.yaml
entity_registry.yaml
.vscode/settings.json
known_devices.yaml
.DS_Store
.ip_authenticated.yaml
._.DS_Store
.google_maps_location_sharing.cookies.hassio_oudenes_gmail_com
.shopping_list.json
.homekit.state
.google.token
.storage/*
!storage/lovelace
cox_usage.json
cox_usage.py
*.pyc
*.log
*.db
*.conf
*.xml
*.sqlite
*.csr
*.crt
*.key
*.pem
*.txt
*.sh 
*.jpg
ozw_config/
custom_components/
tts/
dept/
www/
config/automation/test/
custom_components/hacs/
node-red/
esphome/
log/
