#########################################################
# Below all fixed settings for ITHO PCB
#########################################################
substitutions:
  devicename: meek-itho
  friendly: ITHO
  ip: 192.168.100.150

#########################################################
# Everything below can be copy/paste without problem
#########################################################
esphome:
  name: ${devicename}
  on_boot:
    priority: -100
    then:
      - lambda: |-
          id(itho_hub).register_state_sensor(id(fan_state_numeric));
          id(itho_hub).register_speed_sensor(id(fanspeed));
          id(itho_hub).register_timer_sensor(id(fan_timer));
          id(itho_hub).register_controller_sensor(id(last_controller));
      - delay: 100ms
      - lambda: |-
          // Send Low command after sensors are registered to sync ESP with fan
          id(itho_hub).send_command(1);
          ESP_LOGI("itho", "Sent Low command on boot for synchronization");

esp8266:
  board: nodemcuv2
  framework:
    version: recommended
    
external_components:
  - source:
      type: local
      path: components
    components: [itho_fan]

logger:
  level: DEBUG

wifi:
  ssid: !secret wifi_ssid
  password: !secret wifi_password
  reboot_timeout: 0s
  fast_connect: true
  min_auth_mode: WPA2
  manual_ip:
    static_ip: ${ip}
    gateway: 192.168.100.1
    subnet: 255.255.255.0
    dns1: 192.168.100.1
  ap:
    ssid: ${devicename}
    password: !secret password
    channel: 4

api:
  encryption:
    key: !secret api_key
  reboot_timeout: 15min
  on_client_connected:
    then:
      - lambda: |-
          ESP_LOGI("itho", "Home Assistant connected");
          id(itho_hub).on_homeassistant_connected();

time:
  - platform: homeassistant
    id: homeassistant_time

captive_portal:

web_server:
  port: 80
  
preferences:
  flash_write_interval: 1min
    
ota:
  - platform: esphome
    password: !secret password
    on_begin:
      then:
        - lambda: |-
            ESP_LOGI("custom", "Disabling interrupts for OTA");
            if (id(itho_hub).get_interrupt_pin() != nullptr) {
              id(itho_hub).get_interrupt_pin()->detach_interrupt();
            }
safe_mode:
  reboot_timeout: 0s

itho_fan:
  id: itho_hub
  device_id: "ID3"
  device_name: "Home Assistant"
  interrupt_pin: D1
  remote_ids:
    - remote_id:  "65,99,96"    # First 3 bytes of 65:99:96:55:96:a9:9a: 56
      room_name: "Kitchen"
    - remote_id:  "106,89,106"  # First 3 bytes of 6a:59:6a (converted from hex to decimal)
      room_name: "Bathroom"

  # remote_ids:
  #   - remote_id: "65:99:96:55:96:a9:9a:56"
  #     room_name: "Kitchen"
  #   - remote_id: "6a:59:6a:55:96:a9:9a:56"
  #     room_name: "Bathroom"

button:
  - platform: factory_reset
    name: "${friendly} - Reset"

  - platform: template
    name: "Fan Low"
    on_press:
      - lambda: id(itho_hub).send_command(1);

  - platform: template
    name: "Fan Medium"
    on_press:
      - lambda: id(itho_hub).send_command(2);

  - platform: template
    name: "Fan High"
    on_press:
      - lambda: id(itho_hub).send_command(3);

  - platform: template
    name: "Fan Jion"
    on_press:
      - lambda: id(itho_hub).send_join();

  - platform: template
    name: "Fan Leave"
    on_press:
      - lambda: id(itho_hub).send_leave();

binary_sensor:
  - platform: status
    name: "${friendly} - Connection status"

sensor:
  - platform: wifi_signal
    id: "wifi_db_signal"
    name: "${friendly} - Wifi Signal"
    update_interval: 5min

  - platform: uptime
    name: "${friendly} - Uptime"
    update_interval: 5min

  - platform: template
    name: "${friendly} WiFi Percentage"
    id: wifi_percentage
    entity_category: diagnostic
    state_class: measurement
    update_interval: 10s
    unit_of_measurement: "%"
    accuracy_decimals: 0
    icon: mdi:wifi
    lambda: >
      auto signal = id(wifi_db_signal).state;
      float perc = 0;
      if (signal < -92.0) 
        perc = 100.0; 
      else if (signal > -21.0) 
        perc = 1.0; 
      else 
        perc = round(( -0.0154 * signal * signal )-( 0.3794 * signal ) + 98.182 );
      if(perc <= 0)
        return 0.0;
      else if(perc >= 100)
        return 100.0;
      else
        return perc;

  - platform: template
    name: "Fan State"
    id: fan_state_numeric
    icon: "mdi:fan"

text_sensor:
  - platform: wifi_info
    ip_address:
      name: "${friendly} - IP"
      icon: mdi:lan
    ssid:
      name: "${friendly} - SSID"
      icon: mdi:lan
    bssid:
      name: "${friendly} - BSSID"
      icon: mdi:lan
    mac_address:
      name: "${friendly} - MAC"
      icon: mdi:lan

  - platform: version
    name: "${friendly} - Version"
    hide_timestamp: true

  - platform: template
    name: "Fan Speed"
    id: fanspeed
    icon: "mdi:fan"
    
  - platform: template
    name: "Fan Timer Remaining"
    id: fan_timer
    icon: "mdi:timer"
    
  - platform: template
    name: "Last Control Source"
    id: last_controller
    icon: "mdi:remote"